---
import AddressManager from "./AddressManager.vue";
import OrderHistory from "./OrderHistory.vue";
import PaymentSuccessHandler from "./PaymentSuccessHandler.vue";
import ProfileInfo from "./ProfileInfo.vue";
const { user } = Astro.props;
---

<PaymentSuccessHandler client:only />
<div class="max-w-4xl mx-auto">
	<div class="flex flex-col md:flex-row gap-8 items-start mb-12 text-left">
		<div
			class="w-32 h-32 bg-primary rounded-3xl flex items-center justify-center text-white text-4xl font-black shadow-lg shadow-primary/20 shrink-0"
		>
			{user.name.charAt(0).toUpperCase()}
		</div>
		<div>
			<h1 class="text-4xl font-black mb-2">{user.name}</h1>
			<p class="text-secondary/60 font-medium">{user.email}</p>
			<span
				class="inline-block mt-4 bg-primary/10 text-primary text-[10px] font-bold uppercase tracking-widest px-3 py-1 rounded-full border border-primary/20"
			>
				{user.role === "admin" ? "Administrador" : "Usuario"}
			</span>
		</div>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
		<!-- Account Stats -->
		<div
			class="bg-white p-8 rounded-3xl border border-secondary/5 shadow-xl shadow-secondary/5 col-span-1 text-left"
		>
			<h3
				class="font-bold text-sm uppercase tracking-widest text-secondary/40 mb-6"
			>
				Actividad
			</h3>
			<div class="space-y-6">
				<div>
					<span class="block text-2xl font-black">0</span>
					<span class="text-xs font-bold text-secondary/30 uppercase"
						>Pedidos realizados</span
					>
				</div>
				<div>
					<span class="block text-sm font-bold"
						>{new Date(user.created_at).toLocaleDateString()}</span
					>
					<span class="text-xs font-bold text-secondary/30 uppercase"
						>Cliente desde</span
					>
				</div>
			</div>
		</div>

		<!-- Main Info -->
		<div
			class="bg-white p-8 rounded-3xl border border-secondary/5 shadow-xl shadow-secondary/5 md:col-span-2 text-left"
		>
			<ProfileInfo client:only userName={user.name} userEmail={user.email} />

			<div class="mt-8">
				<h4 class="font-bold text-sm mb-6">Mis Pedidos</h4>
				<OrderHistory client:only />
			</div>
		</div>
	</div>

	<div class="mt-8">
		<AddressManager client:only />
	</div>

	<div
		class="flex flex-row items-center justify-center gap-4 mt-12 text-center"
	>
		<form action="/logout" method="POST">
			<button
				type="submit"
				class="text-secondary/40 font-bold uppercase tracking-widest text-[10px] hover:text-primary transition-colors cursor-pointer border-b border-transparent hover:border-primary/20 pb-1"
			>
				Cerrar Sesión Segura
			</button>
		</form>
		{
			user.role === "admin" && (
				<a
					href="/admin/dashboard"
					class="text-white bg-primary px-4 py-2 rounded-xl font-bold uppercase text-xs hover:bg-primary-dark cursor-pointer border-b border-transparent hover:border-primary/20"
				>
					Ir a Dashboard
				</a>
			)
		}
	</div>
</div>
